# Bonus: Temperature Analysis I

In [21]:
import pandas as pd
from datetime import datetime as dt

In [22]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [23]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [16]:
# Set the date column as the DataFrame index
df.set_index(['date'], inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [17]:
from scipy import stats

In [33]:
# Filter data for desired months
df['month']=df['date'].dt.strftime('%m')
df.head()

       station       date  prcp  tobs month
0  USC00519397 2010-01-01  0.08    65    01
1  USC00519397 2010-01-02  0.00    63    01
2  USC00519397 2010-01-03  0.00    74    01
3  USC00519397 2010-01-04  0.00    76    01
4  USC00519397 2010-01-06   NaN    73    01

In [38]:
# Identify the average temperature for June
June_df = df[df['month']=='06']
jmean =stats.tmean(June_df['tobs'], axis=0)
print(f"The mean temp. observation in June is {jmean}")

The mean temp. observation in June is 74.94411764705882

In [44]:
# Identify the average temperature for December
Dec_df = df[df['month']=='12']
dmean =stats.tmean(Dec_df['tobs'], axis=0)
print(f"The mean temp. observation in December is {jmean}")

#Drop Dec 31st so that both dfs have same number of observations (for t-test)

The mean temp. observation in December is 74.94411764705882

In [46]:
# Run paired t-test
stats.ttest_rel(June_df['tobs'].sample(300), Dec_df['tobs'].sample(300), axis=0, nan_policy='propagate')

Ttest_relResult(statistic=13.07337381291137, pvalue=3.3658278615998403e-31)

### Analysis

In [ ]:
#Given a p-value of 0.05, the null hypothesis of equal means is rejected.
#Oddly, the averages calculated in previous cells were equal. Random sampling changed the outcome.
#The t-test result may be sensitive to the random samples being used. But it makes intuitive sense that the means would differ.
#A paired t-test is used because the two means are dependent. Since temperatures vary non-randomly overtime, tobs is probably-
#autocorrelated with itself.